In [ ]:

# Total number of unique schools: COMPLETE
# total students: Complete
# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete
# % overall passing

In [16]:
import pandas as pd
from pathlib import Path 
import numpy

In [17]:
school_data = Path("../Resources/schools_complete.csv")
student_data = Path("../Resources/students_complete.csv")

In [18]:
Schools_data = pd.read_csv(school_data)
students_data = pd.read_csv(student_data)

In [19]:

Schools = pd.merge(students_data,Schools_data, how="left", on=["school_name", "school_name"])
Schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
Schools_reduced = Schools[["Student ID", "grade", "school_name", "reading_score", "math_score", "type", "size", "budget"]]
Schools_reduced.head()

,Student ID,grade,school_name,reading_score,math_score,type,size,budget
0,0,9th,Huang High School,66,79,District,2917,1910635
1,1,12th,Huang High School,94,61,District,2917,1910635
2,2,12th,Huang High School,90,60,District,2917,1910635
3,3,12th,Huang High School,67,58,District,2917,1910635
4,4,9th,Huang High School,97,84,District,2917,1910635

In [21]:
Schools_df = Schools_reduced.fillna(0)
Schools_df.count()  
Schools_df.head()

,Student ID,grade,school_name,reading_score,math_score,type,size,budget
0,0,9th,Huang High School,66,79,District,2917,1910635
1,1,12th,Huang High School,94,61,District,2917,1910635
2,2,12th,Huang High School,90,60,District,2917,1910635
3,3,12th,Huang High School,67,58,District,2917,1910635
4,4,9th,Huang High School,97,84,District,2917,1910635

In [22]:
# Total number of unique schools:
school_list = Schools_df["school_name"].value_counts
school_list()

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [23]:
# Total number of unique schools: COMPLETE
Total_schools_df = Schools_df["school_name"].nunique()
Total_schools_df

15

In [24]:
# total students: Complete
Total_students = Schools_df["Student ID"].nunique()
Total_students

39170

In [27]:
# total budget: complete
Total_budget = Schools_df["budget"].sum()
Total_budget

82932329558

In [29]:
# average math Score: Complete 
avg_Math = Schools_df["math_score"].mean()
avg_Math

78.98537145774827

In [31]:
# average reading score: Complete 
avg_Reading = Schools_df["reading_score"].mean()
avg_Reading

81.87784018381414

In [36]:
 # % passing math: Complete
Pass = 70
pass_math = Schools_df["math_score"] >= Pass
number_passing = pass_math.sum()
pass_Percent = (number_passing / Total_students) * 100

print(pass_Percent)

74.9808526933878

In [37]:
# % passing reading: Complete
pass_reading = Schools_df["reading_score"] >= Pass
read_pass = pass_reading.sum()
read_pass_Percent = (read_pass / Total_students) * 100
print(read_pass_Percent)

85.80546336482001

In [40]:
# % overall passing
Combine_score_column = [["reading_score", "math_score"]]
Schools_df['average_score'] = Schools_df[Combine_score_column].mean(axis=1)
print(Schools_df)

KeyError: "None of [Index([('reading_score', 'math_score')], dtype='object')] are in the [columns]"

In [ ]:
# total students: Complete
# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete

In [ ]:
# School summary
# school Name 
# school type 
# total students
# total school budget
# per student budget
# average math score
# average reading Score 
# % passing math
# % passing reading
# % overall passing

In [ ]:
# Highest Performing schools by % overall passing
# Sort schools by % overall passing in descending order and display the top 5 rows.
# Save results in a dataframe called "top_schools"

In [ ]:
# Lowest performing schools by % overall passing
# Sort the shool by % overall passing in ascending order and display the top 5 rows. Save results in a dataframe called "bottm_schools"

In [ ]:
# Math scored by grade
# Perform the necessary calculations to create a datafram that lists the average the math score for students of each grade level (9th,10th, 11th, 12th) at each school

In [ ]:
# Reading scores by grade
# create a datafram that lists the average reading score for students of each grade level (9th, 10,11, 12) at each school

In [ ]:
# Scores by school spending
# Create a table that breaks down school performance bacsed on average spending ranges (per student). use the code provided to create 4 bins with reasonable cutoff values to group the school spending.
# spending_bins = [0, 585, 630, 645, 680]
# labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use pd.cut to categorize spending based on bins.
# use the following code:

# spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
# spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
# spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
# spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
# overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Use the scores above to create a datafram called spending_summary.
# Include the metrics in the table:
# Average Math Score 
# Average reading score 
# % passing math
# % passing reading
# % overall passing

In [ ]:
# Scores by school size
# use the following code to bin the per_school_summary

# size_bins = [0, 1000, 2000, 5000]
# labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut on "Total Students" column of the per_school_summary DataFrame.
# Create a DataFram called size_summary that breaks down school performance based on school size (small, medium, or large)

In [ ]:
# Scores by Shool Type 
# Use the Per_school_summary Datat Frame from the previous step to create a new Data Frame called type_summary. This new data frame should show school performance based on the "school type"