In [ ]:

# Total number of unique schools: COMPLETE
# total students: Complete
# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete
# % overall passing

In [1]:
import pandas as pd
from pathlib import Path

In [2]:

load_school_data = Path("Resources/schools_complete.csv")
load_student_data = Path("Resources/students_complete.csv")

In [3]:

Schools_data = pd.read_csv(load_school_data)
students_data = pd.read_csv(load_student_data)

In [4]:
Schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
Schoolslist_df = pd.merge(students_data,Schools_data, how="left", on=["school_name", "school_name"])
Schoolslist_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
Schoolslist_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [26]:
Basic_data_df = Schoolslist_df[["school_name", "reading_score", "math_score", "type", "size", "budget"]]

Basic_data_df.head()

         school_name  reading_score  math_score      type  size   budget
0  Huang High School             66          79  District  2917  1910635
1  Huang High School             94          61  District  2917  1910635
2  Huang High School             90          60  District  2917  1910635
3  Huang High School             67          58  District  2917  1910635
4  Huang High School             97          84  District  2917  1910635

In [27]:
Basic_data_df.dtypes

school_name      object
reading_score     int64
math_score        int64
type             object
size              int64
budget            int64
dtype: object

In [28]:
Basic_data_df = Basic_data_df.drop_duplicates(subset=['school_name'])

Basic_data_df

,school_name,reading_score,math_score,type,size,budget
0,Huang High School,66,79,District,2917,1910635
2917,Figueroa High School,85,87,District,2949,1884411
5866,Shelton High School,70,91,Charter,1761,1056600
7627,Hernandez High School,70,88,District,4635,3022020
12262,Griffin High School,79,68,Charter,1468,917500
13730,Wilson High School,84,71,Charter,2283,1319574
16013,Cabrera High School,94,94,Charter,1858,1081356
17871,Bailey High School,75,59,District,4976,3124928
22847,Holden High School,86,92,Charter,427,248087
23274,Pena High School,91,75,Charter,962,585858
24236,Wright High School,89,72,Charter,1800,1049400
26036,Rodriguez High School,74,81,District,3999,2547363
30035,Johnson High School,87,87,District,4761,3094650
34796,Ford High School,66,94,District,2739,1763916
37535,Thomas High School,76,76,Charter,1635,1043130

In [40]:
# Total number of unique schools:
school_count = Basic_data_df["school_name"].nunique()
school_count

15

In [ ]:

# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete

In [59]:
# total students: Complete
Total_students = len(Schoolslist_df)

Total_students

39170

In [30]:
# total budget: complete
Total_budget = Basic_data_df['budget'].sum()
Total_budget

24649428

In [31]:
# average math Score: Complete 
avg_Math = Schoolslist_df["math_score"].mean()
avg_Math

78.98537145774827

In [32]:
# average reading score: Complete 
avg_Reading = Schoolslist_df["reading_score"].mean()
avg_Reading

81.87784018381414

In [33]:
 # % passing math: Complete
Pass = 70
pass_math = Schoolslist_df[(Schoolslist_df["math_score"] >= Pass)].count()["student_name"]

pass_Percent = pass_math / float(Total_students) * 100

pass_Percent

74.9808526933878

In [34]:
# % passing reading: Complete
pass_reading = Schoolslist_df[(Schoolslist_df["reading_score"] >= Pass)].count()["student_name"]

read_pass_Percent = pass_reading / float(Total_students) * 100
print(read_pass_Percent)

85.80546336482001

In [35]:

# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = Schoolslist_df[(Schoolslist_df["math_score"] >= 70) & (Schoolslist_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  Total_students * 100
overall_passing_rate
# % overall passing
print(overall_passing_rate)

65.17232575950983

DISTRICT SUMMARY

In [ ]:
# COMPLETE FOR ALL
# total students
# total school budget
# per student budget
# average math score
# average reading Score 
# % passing math
# % passing reading
# % overall passing

In [41]:
#  Lets Make A Dictionary....Shall we?

summary_diction = {
    "Total Schools": [school_count],
    "Total Students": [Total_students],
    "Total Budget": [Total_budget],
    "Average Math Score": [avg_Math],
    "Average Reading Score": [avg_Reading],
    "% Passing Math": [pass_Percent],
    "% Passing Reading": [read_pass_Percent],
    "% Overall Passing": [overall_passing_rate]
}

district_summary = pd.DataFrame(summary_diction)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

SCHOOL SUMMARY

In [42]:
# Use the code provided to select the type per school from school_data
school_types = Basic_data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [102]:
# Calculate the total student count per school from school_data
per_school_counts = Schoolslist_df.groupby('school_name').size()


print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [53]:
per_school_budget = Basic_data_df.groupby('school_name')['budget'].sum().reset_index()

per_school_budget.columns = ['School Name', 'Total Budget']

per_school_capita = Basic_data_df.groupby('type')['budget'].sum().reset_index()

per_school_capita.columns = ['District Type', 'Total Budget']

print(per_school_budget)
per_school_capita

              School Name  Total Budget
0      Bailey High School       3124928
1     Cabrera High School       1081356
2    Figueroa High School       1884411
3        Ford High School       1763916
4     Griffin High School        917500
5   Hernandez High School       3022020
6      Holden High School        248087
7       Huang High School       1910635
8     Johnson High School       3094650
9        Pena High School        585858
10  Rodriguez High School       2547363
11    Shelton High School       1056600
12     Thomas High School       1043130
13     Wilson High School       1319574
14     Wright High School       1049400

  District Type  Total Budget
0       Charter       7301505
1      District      17347923

In [94]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
# Lets us a previously set Variable Pass for this...
Pass = 70
# Sum up how many students are passing...PERIOD...then print to verify
school_students_passing_math = Schoolslist_df[(Schoolslist_df["math_score"] >= Pass)].sum()

# Sum up how many are passing PER school...then print
school_students_passing_math = Schoolslist_df[Schoolslist_df['math_score'] >= Pass].groupby('school_name').size()


# What did you get? Yea, me too
print(students_passing_math)
school_students_passing_math

29370

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [95]:
# Using the same Pass variable previously set for Reading. Everything for Math...applies here
Pass = 70
# Sum up how many students are passing...PERIOD...then print to veri

# Sum up how many students are passing...PERIOD...then print to verify
students_passing_reading = (Schoolslist_df['reading_score'] >= Pass).sum()

# Sum up how many are passing PER school...then print
school_students_passing_reading = Schoolslist_df[Schoolslist_df['reading_score'] >= Pass].groupby('school_name').size()

# What did you get? Yea, me too
print(students_passing_reading)
school_students_passing_reading

33610

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [98]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = Schoolslist_df[
    (Schoolslist_df["reading_score"] >= 70) & (Schoolslist_df["math_score"] >= 70)
]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()


school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [103]:
# Use the provided code to calculate the passing rates6.3

per_school_passing_math = school_students_passing_math / per_school_counts * 100

per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [104]:
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100

per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [106]:
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [ ]:
 
# Highest Performing schools by % overall passing
# Sort schools by % overall passing in descending order and display the top 5 rows.
# Save results in a dataframe called "top_schools"

In [ ]:

# Lowest performing schools by % overall passing
# Sort the shool by % overall passing in ascending order and display the top 5 rows. Save results in a dataframe called "bottm_schools"

In [ ]:

# Math scored by grade
# Perform the necessary calculations to create a datafram that lists the average the math score for students of each grade level (9th,10th, 11th, 12th) at each schoo

In [ ]:
# Reading scores by grade
# create a datafram that lists the average reading score for students of each grade level (9th, 10,11, 12) at each school