In [ ]:

# Total number of unique schools: COMPLETE
# total students: Complete
# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete
# % overall passing

In [1]:
import pandas as pd
from pathlib import Path

In [2]:

load_school_data = Path("Resources/schools_complete.csv")
load_student_data = Path("Resources/students_complete.csv")

In [3]:

Schools_data = pd.read_csv(load_school_data)
students_data = pd.read_csv(load_student_data)

In [4]:
Schools = pd.merge(students_data,Schools_data, how="left", on=["school_name", "school_name"])
Schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
Schools_df = Schools.fillna(0)
Schools_df.count()  
Schools_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:

# Total number of unique schools:
school_list = Schools_df["school_name"].count()
school_list

39170

In [ ]:
# total students: Complete
# total budget: complete
# average math Score: Complete 
# average reading score: Complete 
# % passing math: Complete
# % passing reading: Complete

In [8]:
# total students: Complete
Total_students = Schools_df["Student ID"].nunique()
Total_students

39170

In [23]:
# total budget: complete
# In order to calculate the budget correctly, remove the duplicates...PLEASE!!!
dupi_drop_df = Schools_df.drop_duplicates(subset=['school_name'])
dupi_drop_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
16013,16013,Olivia Short,F,11th,Cabrera High School,94,94,6,Charter,1858,1081356
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
22847,22847,Daniel Rodriguez,M,11th,Holden High School,86,92,8,Charter,427,248087
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130

In [24]:
Total_budget = dupi_drop_df["budget"].sum()
Total_budget

24649428

In [10]:
# average math Score: Complete 
avg_Math = Schools_df["math_score"].mean()
avg_Math

78.98537145774827

In [11]:
# average reading score: Complete 
avg_Reading = Schools_df["reading_score"].mean()
avg_Reading

81.87784018381414

In [12]:
 # % passing math: Complete
Pass = 70
pass_math = Schools_df["math_score"] >= Pass
number_passing = pass_math.sum()
pass_Percent = (number_passing / Total_students) * 100

print(pass_Percent)

74.9808526933878

In [13]:
# % passing reading: Complete
pass_reading = Schools_df["reading_score"] >= Pass
read_pass = pass_reading.sum()
read_pass_Percent = (read_pass / Total_students) * 100
print(read_pass_Percent)

85.80546336482001

In [18]:

# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = Schools_df[
    (Schools_df["math_score"] >= 70) & (Schools_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(Total_students) * 100
overall_passing_rate
# % overall passing
print(overall_passing_rate)

65.17232575950983

In [ ]:
# School summary
# school Name 
# school type 
# total students
# total school budget
# per student budget
# average math score
# average reading Score 
# % passing math
# % passing reading
# % overall passing

In [28]:
#  Lets Make A Dictionary....Shall we?

summary_diction = {
    "Total Schools": [school_list],
    "Total Students": [Total_students],
    "Total Budget": [Total_budget],
    "Average Math Score": [avg_Math],
    "Average Reading Score": [avg_Reading],
    "% Passing Math": [pass_Percent],
    "% Passing Reading": [read_pass_Percent],
    "% Overall Passing": [overall_passing_rate]
}

district_summary = pd.DataFrame(summary_diction)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<bound method IndexOpsMixin.nunique of 0 ...,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
 
# Highest Performing schools by % overall passing
# Sort schools by % overall passing in descending order and display the top 5 rows.
# Save results in a dataframe called "top_schools"

In [ ]:

# Lowest performing schools by % overall passing
# Sort the shool by % overall passing in ascending order and display the top 5 rows. Save results in a dataframe called "bottm_schools"

In [ ]:

# Math scored by grade
# Perform the necessary calculations to create a datafram that lists the average the math score for students of each grade level (9th,10th, 11th, 12th) at each schoo

In [ ]:
# Reading scores by grade
# create a datafram that lists the average reading score for students of each grade level (9th, 10,11, 12) at each school