***PyCity Schools Analysis***

# Summarizes the analysis
Comparing the success rate of passing Math, Reading or both between 7 District and 8 charter schools.
# Draws 2 correct conclusions or comparisons form the calculations


Holden is a charter school with a 90-97% passing rate. They have the smallest number of students passing compared to other schools but take into account the school size, they are the most successful. 
Baily is a District school with over 4900 students a nd has the largest per student budget at $3124928.

In [ ]:
# Importing the proper libraries and PATH 
import pandas as pd
from pathlib import Path

In [2]:
# Importing from the correct path
load_school_data = Path("Resources/schools_complete.csv")
load_student_data = Path("Resources/students_complete.csv")

In [3]:
# Turning my CSV into a DF
Schools_data = pd.read_csv(load_school_data)
students_data = pd.read_csv(load_student_data)

In [4]:
# Lets see what my columns are 
Schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Lets see what the columns are for this as well...gives an insight on how it is to be merged.
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Ok lets merge these babies!
Schoolslist_df = pd.merge(students_data,Schools_data, how="left", on=["school_name", "school_name"])
Schoolslist_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#Making sure the Dtypes are correct, or they will give issues later in life
Schoolslist_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [9]:
# Created a basic dataframe just in case....Def came in handy for dropping the duplicates.
Basic_data_df = Schoolslist_df[["school_name", "reading_score", "math_score", "type", "size", "budget"]]

Basic_data_df.head()

         school_name  reading_score  math_score      type  size   budget
0  Huang High School             66          79  District  2917  1910635
1  Huang High School             94          61  District  2917  1910635
2  Huang High School             90          60  District  2917  1910635
3  Huang High School             67          58  District  2917  1910635
4  Huang High School             97          84  District  2917  1910635

In [12]:
# Dropping them Dupies....aka duplicates cause they WILL cause issues with inflation.
Basic_data_df = Basic_data_df.drop_duplicates(subset=['school_name'])

Basic_data_df

,school_name,reading_score,math_score,type,size,budget
0,Huang High School,66,79,District,2917,1910635
2917,Figueroa High School,85,87,District,2949,1884411
5866,Shelton High School,70,91,Charter,1761,1056600
7627,Hernandez High School,70,88,District,4635,3022020
12262,Griffin High School,79,68,Charter,1468,917500
13730,Wilson High School,84,71,Charter,2283,1319574
16013,Cabrera High School,94,94,Charter,1858,1081356
17871,Bailey High School,75,59,District,4976,3124928
22847,Holden High School,86,92,Charter,427,248087
23274,Pena High School,91,75,Charter,962,585858
24236,Wright High School,89,72,Charter,1800,1049400
26036,Rodriguez High School,74,81,District,3999,2547363
30035,Johnson High School,87,87,District,4761,3094650
34796,Ford High School,66,94,District,2739,1763916
37535,Thomas High School,76,76,Charter,1635,1043130

**DISTRICT SUMMARY**

In [13]:
# Total number of unique schools: Complete
school_count = Basic_data_df["school_name"].nunique()
school_count

15

In [15]:
# total students: Complete
Total_students = len(Schoolslist_df)

Total_students

39170

In [16]:
# total budget: complete
Total_budget = Basic_data_df['budget'].sum()
Total_budget

24649428

In [17]:
# average math Score: Complete 
avg_Math = Schoolslist_df["math_score"].mean()
avg_Math

78.98537145774827

In [18]:
# average reading score: Complete 
avg_Reading = Schoolslist_df["reading_score"].mean()
avg_Reading

81.87784018381414

In [19]:
 # % passing math: Complete
Pass = 70
pass_math = Schoolslist_df[(Schoolslist_df["math_score"] >= Pass)].count()["student_name"]

pass_Percent = pass_math / float(Total_students) * 100

pass_Percent

74.9808526933878

In [20]:
# % passing reading: Complete
pass_reading = Schoolslist_df[(Schoolslist_df["reading_score"] >= Pass)].count()["student_name"]

read_pass_Percent = pass_reading / float(Total_students) * 100
print(read_pass_Percent)

85.80546336482001

In [23]:
#% of students that passed math and reading: COMPLETE
passing_math_reading_count = Schoolslist_df[(Schoolslist_df["math_score"] >= 70) & (Schoolslist_df["reading_score"] >= 70)
].count()["student_name"]

passing_math_reading_count

25528

In [24]:
# % overall passing: COMPLETE
overall_passing_rate = passing_math_reading_count /  float(Total_students) * 100
overall_passing_rate

65.17232575950983

In [67]:
#  Lets Make A Dictionary....Shall we?

summary_diction = {
    "Total Schools": [school_count],
    "Total Students": [Total_students],
    "Total Budget": [Total_budget],
    "Average Math Score": [avg_Math],
    "Average Reading Score": [avg_Reading],
    "% Passing Math": [pass_Percent],
    "% Passing Reading": [read_pass_Percent],
    "% Overall Passing": [overall_passing_rate]
}

# Lets turn that dictionary into something called a DataFrame!
district_summary = pd.DataFrame(summary_diction)

# We need to format the 2 columns Total Student and Total Budget for commas and $ sign
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

**SCHOOL SUMMARY**

In [96]:
#List the type of school: COMPLETE
school_types = Basic_data_df.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [36]:
# Calculate the total student count per school from school_data: COMPLETE
per_school_counts = Schoolslist_df.groupby('school_name').size()

per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [38]:
# Calculate the budget per school: COMPLETE
per_school_budget = Basic_data_df.groupby('school_name')['budget'].sum()

per_school_budget.columns = ['School Name', 'Total Budget']

per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [41]:
# Calculate the budget per capita: COMPLETE
per_school_capita = Basic_data_df.groupby('type')['budget'].sum()

per_school_capita.columns = ['District Type', 'Total Budget']

per_school_capita

type
Charter      7301505
District    17347923
Name: budget, dtype: int64

In [40]:
# Calculate the budget per student: Need this later
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [54]:
# Calculate the number of students per school with math scores of 70 or higher from Schoolslist_df
# Lets set Variable Pass for this...
Pass = 70
# Sum up how many students are passing...PERIOD...then print to verify
students_passing_math = (Schoolslist_df['math_score'] >= Pass).sum()

# Sum up how many are passing PER school...then print
school_students_passing_math = Schoolslist_df[Schoolslist_df['math_score'] >= Pass].groupby('school_name').size()

# What did you get? Yea, me too
print(students_passing_math)
school_students_passing_math

29370

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [55]:
# Lets Do this again but for Reading....
# Using the same Pass variable previously set for Math. Everything for Reading...applies here
Pass = 70

# Sum up how many students are passing...PERIOD...then print to veri
students_passing_reading = (Schoolslist_df['reading_score'] >= Pass).sum()

# Sum up how many are passing PER school...then print
school_students_passing_reading = Schoolslist_df[Schoolslist_df['reading_score'] >= Pass].groupby('school_name').size()

# What did you get? Ok coo, we on the same page
print(students_passing_reading)
school_students_passing_reading

33610

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [58]:
# of students passing math AND reading....like one wasnt hard enough

students_passing_math_and_reading = Schoolslist_df[
    (Schoolslist_df["reading_score"] >= 70) & (Schoolslist_df["math_score"] >= 70)
]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [60]:
# % of students passing Math per school

per_school_passing_math = school_students_passing_math / per_school_counts * 100

per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [61]:
# Avg of students passing Math per School
avg_school_Math = Schoolslist_df.groupby('school_name') ['math_score'].mean()
avg_school_Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [62]:
#% Of students pssing reading per school
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100

per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [63]:
# % Of students passing Reading Per School
avg_school_Reading = Schoolslist_df.groupby('school_name')['reading_score'].mean()
avg_school_Reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [64]:
# % Overall Passing Rate per school
per_overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
per_overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [66]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_diction = {
    "School Type" : school_types,
    "Total Students" : per_school_counts,
    "Total School Budget" : per_school_budget,
    "Per Student Budget" : per_student_budget,
    "Average Math Score" : avg_school_Math,
    "Average Reading Score" : avg_school_Reading,
    "% Passing Math" : per_school_passing_math,
    "% Passing Reading" : per_school_passing_reading,
    "% Overall Passing" : per_overall_passing_rate,
    
}


per_school_summary = pd.DataFrame(per_school_diction)

# # Formatting so there are commas and a  $ sign
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

HIGHEST-PERFORMING SCHOOLS (BY % OVERALL PASSING)

In [68]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False )
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [71]:
# Lowest performing schools by % overall passing
# Sort the shool by % overall passing in ascending order and display the top 5 rows. Save results in a dataframe called "bottm_schools"
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True )
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [73]:
# Math scored by grade
ninth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "9th")]
tenth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "10th")]
eleventh_graders = Schoolslist_df[(Schoolslist_df["grade"] == "11th")]
twelfth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "12th")]

print(ninth_graders)
print(tenth_graders)
print(eleventh_graders)
print(twelfth_graders)

       Student ID      student_name gender grade         school_name  \
0               0      Paul Bradley      M   9th   Huang High School
4               4        Bonnie Ray      F   9th   Huang High School
5               5     Bryan Miranda      M   9th   Huang High School
12             12   Brittney Walker      F   9th   Huang High School
13             13      William Long      M   9th   Huang High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39152             98          84         14   Charter  1635  1043130
39153             80          75         14   Charter  1635  1043130
39157             79          94         14   Charter  1635  1043130
39164             97          76         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130

[11408 rows x 11 columns]
       Student ID      student_name gender grade         school_name  \
8               8      Michael Roth      M  10th   Huang High School
9               9    Matthew Greene      M  10th   Huang High School
10             10  Andrew Alexander      M  10th   Huang High School
11             11     Daniel Cooper      M  10th   Huang High School
14             14      Tammy Hebert      F  10th   Huang High School
...           ...               ...    ...   ...                 ...
39155       39155       John Brooks      M  10th  Thomas High School
39158       39158     Kari Holloway      F  10th  Thomas High School
39161       39161       April Reyes      F  10th  Thomas High School
39166       39166         Dawn Bell      F  10th  Thomas High School
39168       39168      Desiree Kidd      F  10th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
10                90          70          0  District  2917  1910635
11                78          77          0  District  2917  1910635
14                85          67          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39155             92          98         14   Charter  1635  1043130
39158             87          90         14   Charter  1635  1043130
39161             70          84         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130

[10168 rows x 11 columns]
       Student ID         student_name gender grade         school_name  \
6               6        Sheena Carter      F  11th   Huang High School
15             15    Dr. Jordan Carson      M  11th   Huang High School
22             22     Kimberly Stewart      F  11th   Huang High School
24             24     Chelsea Griffith      F  11th   Huang High School
28             28          Kelly James      F  11th   Huang High School
...           ...                  ...    ...   ...                 ...
39156       39156  Stephanie Contreras      F  11th  Thomas High School
39159       39159     Kimberly Cabrera      F  11th  Thomas High School
39160       39160         Katie Weaver      F  11th  Thomas High School
39163       39163           John Reese      M  11th  Thomas High School
39169       39169      Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
6                 82          80          0  District  2917  1910635
15                94          88          0  District  2917  1910635
22                99          84          0  District  2917  1910635
24                85          73          0  District  2917  1910635
28                73          55          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39156             79          95         14   Charter  1635  1043130
39159             85          72         14   Charter  1635  1043130
39160             89          86         14   Charter  1635  1043130
39163             90          75         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[9695 rows x 11 columns]
       Student ID       student_name gender grade         school_name  \
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
7               7       Nicole Baker      F  12th   Huang High School
29             29       Nicole Brown      F  12th   Huang High School
...           ...                ...    ...   ...                 ...
39137       39137    Victoria Bailey      F  12th  Thomas High School
39144       39144   Cristian Webster      M  12th  Thomas High School
39154       39154    Bradley Johnson      M  12th  Thomas High School
39162       39162        Derek Weeks      M  12th  Thomas High School
39165       39165       Donna Howard      F  12th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
7                 96          69          0  District  2917  1910635
29                90          88          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39137             75          70         14   Charter  1635  1043130
39144             77          87         14   Charter  1635  1043130
39154             91          71         14   Charter  1635  1043130
39162             94          77         14   Charter  1635  1043130
39165             99          90         14   Charter  1635  1043130

[7899 rows x 11 columns]

In [74]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grader_math_scores = tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grader_math_scores =twelfth_graders.groupby('school_name')['math_score'].mean()

print(ninth_grade_math_scores)
print(tenth_grader_math_scores)
print(eleventh_grader_math_scores)
print(twelfth_grader_math_scores)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64
school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64
school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64
school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [75]:
# LETS.MAKE.A.DATAFRAAAAAAAAAME!!!!! This always excites me, I hope you feel excited as well! 
math_scores_by_grade_diction = {
    "9th" : ninth_grade_math_scores,
    "10th" : tenth_grader_math_scores, 
    "11th" : eleventh_grader_math_scores, 
    "12th" : twelfth_grader_math_scores
}
math_scores_by_grade = pd.DataFrame(math_scores_by_grade_diction)

math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [76]:
# Reading scores by grade
ninth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "9th")]
tenth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "10th")]
eleventh_graders = Schoolslist_df[(Schoolslist_df["grade"] == "11th")]
twelfth_graders = Schoolslist_df[(Schoolslist_df["grade"] == "12th")]


print(ninth_graders)
print(tenth_graders)
print(eleventh_graders)
print(twelfth_graders)

       Student ID      student_name gender grade         school_name  \
0               0      Paul Bradley      M   9th   Huang High School
4               4        Bonnie Ray      F   9th   Huang High School
5               5     Bryan Miranda      M   9th   Huang High School
12             12   Brittney Walker      F   9th   Huang High School
13             13      William Long      M   9th   Huang High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39152             98          84         14   Charter  1635  1043130
39153             80          75         14   Charter  1635  1043130
39157             79          94         14   Charter  1635  1043130
39164             97          76         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130

[11408 rows x 11 columns]
       Student ID      student_name gender grade         school_name  \
8               8      Michael Roth      M  10th   Huang High School
9               9    Matthew Greene      M  10th   Huang High School
10             10  Andrew Alexander      M  10th   Huang High School
11             11     Daniel Cooper      M  10th   Huang High School
14             14      Tammy Hebert      F  10th   Huang High School
...           ...               ...    ...   ...                 ...
39155       39155       John Brooks      M  10th  Thomas High School
39158       39158     Kari Holloway      F  10th  Thomas High School
39161       39161       April Reyes      F  10th  Thomas High School
39166       39166         Dawn Bell      F  10th  Thomas High School
39168       39168      Desiree Kidd      F  10th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
10                90          70          0  District  2917  1910635
11                78          77          0  District  2917  1910635
14                85          67          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39155             92          98         14   Charter  1635  1043130
39158             87          90         14   Charter  1635  1043130
39161             70          84         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130

[10168 rows x 11 columns]
       Student ID         student_name gender grade         school_name  \
6               6        Sheena Carter      F  11th   Huang High School
15             15    Dr. Jordan Carson      M  11th   Huang High School
22             22     Kimberly Stewart      F  11th   Huang High School
24             24     Chelsea Griffith      F  11th   Huang High School
28             28          Kelly James      F  11th   Huang High School
...           ...                  ...    ...   ...                 ...
39156       39156  Stephanie Contreras      F  11th  Thomas High School
39159       39159     Kimberly Cabrera      F  11th  Thomas High School
39160       39160         Katie Weaver      F  11th  Thomas High School
39163       39163           John Reese      M  11th  Thomas High School
39169       39169      Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
6                 82          80          0  District  2917  1910635
15                94          88          0  District  2917  1910635
22                99          84          0  District  2917  1910635
24                85          73          0  District  2917  1910635
28                73          55          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39156             79          95         14   Charter  1635  1043130
39159             85          72         14   Charter  1635  1043130
39160             89          86         14   Charter  1635  1043130
39163             90          75         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[9695 rows x 11 columns]
       Student ID       student_name gender grade         school_name  \
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
7               7       Nicole Baker      F  12th   Huang High School
29             29       Nicole Brown      F  12th   Huang High School
...           ...                ...    ...   ...                 ...
39137       39137    Victoria Bailey      F  12th  Thomas High School
39144       39144   Cristian Webster      M  12th  Thomas High School
39154       39154    Bradley Johnson      M  12th  Thomas High School
39162       39162        Derek Weeks      M  12th  Thomas High School
39165       39165       Donna Howard      F  12th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
7                 96          69          0  District  2917  1910635
29                90          88          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39137             75          70         14   Charter  1635  1043130
39144             77          87         14   Charter  1635  1043130
39154             91          71         14   Charter  1635  1043130
39162             94          77         14   Charter  1635  1043130
39165             99          90         14   Charter  1635  1043130

[7899 rows x 11 columns]

In [77]:
# now we show by grade and by school
ninth_grade_reading_scores = ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grader_reading_scores =twelfth_graders.groupby('school_name')['reading_score'].mean()

print(ninth_grade_reading_scores)
print(tenth_grader_reading_scores)
print(eleventh_grader_reading_scores)
print(twelfth_grader_reading_scores)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64
school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64
school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64
school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [79]:
# SAY IT WITH ME! LETS. MAKE. A. DATAAAAAFRAAAAAAAME! Feels like Im on a gameshow
reading_scores_by_grade_diction = {
    "9th" : ninth_grade_reading_scores,
    "10th" : tenth_grader_reading_scores,
    "11th" : eleventh_grader_reading_scores,
    "12th" : twelfth_grader_reading_scores
}

reading_scores_by_grade = pd.DataFrame(reading_scores_by_grade_diction)

# WE need to set the index so it shows properly
reading_scores_by_grade.index.name = None

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [80]:
# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

SCORES BY SCHOOL SPENDING

In [81]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [82]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()
school_spending_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [85]:
#Ensuring the data has numerical values and removed the $sign in order for the following code to process
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)

# Optionally handle NaN values
school_spending_df = school_spending_df.dropna(subset=["Per Student Budget"])

# Define bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize spending
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"], 
    bins=spending_bins, 
    labels=labels,
    right=False
)

# Display the updated DataFrame
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [86]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

print(spending_math_scores)
print(spending_reading_scores)
print(spending_passing_math)
print(spending_passing_reading)
print(overall_passing_spending)

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64
Spending Ranges (Per Student)
<$585       83.933814
$585-630    83.155286
$630-645    81.624473
$645-680    81.027843
Name: Average Reading Score, dtype: float64
Spending Ranges (Per Student)
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64
Spending Ranges (Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64
Spending Ranges (Per Student)
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % Overall Passing, dtype: float64

C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\3897516581.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\3897516581.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\3897516581.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\3897516581.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\3897516581.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [87]:
#LETS. MAKE. A. DATAAAAFRAAAAAAAME!!!!!! 
spending_summary_diction= {
    "Average Math Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Math" : spending_passing_math,
    "%Passing Reading" : spending_passing_reading,
    "% Overall Passing" : overall_passing_spending
}

spending_summary = pd.DataFrame(spending_summary_diction)
# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [88]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [89]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(
    school_spending_df["Total Students"],
    bins=size_bins,
    labels=labels2,
    right=True
)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [90]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

print(size_math_scores)
print(size_reading_scores)
print(size_passing_math)
print(size_passing_reading)
print(size_overall_passing)

School Size
Small (<1000)         83.821598
Medium (1000-2000)    83.374684
Large (2000-5000)     77.746417
Name: Average Math Score, dtype: float64
School Size
Small (<1000)         83.929843
Medium (1000-2000)    83.864438
Large (2000-5000)     81.344493
Name: Average Reading Score, dtype: float64
School Size
Small (<1000)         93.550225
Medium (1000-2000)    93.599695
Large (2000-5000)     69.963361
Name: % Passing Math, dtype: float64
School Size
Small (<1000)         96.099437
Medium (1000-2000)    96.790680
Large (2000-5000)     82.766634
Name: % Passing Reading, dtype: float64
School Size
Small (<1000)         89.883853
Medium (1000-2000)    90.621535
Large (2000-5000)     58.286003
Name: % Overall Passing, dtype: float64

C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\2240357188.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\2240357188.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\2240357188.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\2240357188.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\Denis\AppData\Local\Temp\ipykernel_31960\2240357188.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [91]:
# LETS. MAKE. A. DATAAAAFRAAAAAAME!
size_summary_diciton ={
    'School Size' : labels2,
    'Average Math Score' : size_math_scores,
    'Average Reading Score' : size_reading_scores,
    '% Passing Math' : size_passing_math,
    '% Passing Reading' : size_passing_reading,
    '% Overall Passing' : size_overall_passing
}   

size_summary = pd.DataFrame(size_summary_diciton)

size_summary

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,,
Small (<1000),Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [92]:
# Lets set the index and make sure we only pull the percentages out of the percentage columns
size_summary.set_index('School Size', inplace=True)

percentage_columns = ['% Passing Math', '% Passing Reading', '% Overall Passing']
size_summary_percentages = size_summary[percentage_columns]

size_summary_percentages

                    % Passing Math  % Passing Reading  % Overall Passing
School Size
Small (<1000)            93.550225          96.099437          89.883853
Medium (1000-2000)       93.599695          96.790680          90.621535
Large (2000-5000)        69.963361          82.766634          58.286003

In [93]:
# Put it together and what do you get? EXACTLYYYYYY....PERFECTION! 
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

***Scores By School Type**

In [94]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

print(average_math_score_by_type)  
print(average_reading_score_by_type)  
print(average_percent_passing_math_by_type)  
print(average_percent_passing_reading_by_type)  
print(average_percent_overall_passing_by_type)

School Type
Charter     83.473852
District    76.956733
Name: Average Math Score, dtype: float64
School Type
Charter     83.896421
District    80.966636
Name: Average Reading Score, dtype: float64
School Type
Charter     93.620830
District    66.548453
Name: % Passing Math, dtype: float64
School Type
Charter     96.586489
District    80.799062
Name: % Passing Reading, dtype: float64
School Type
Charter     90.432244
District    53.672208
Name: % Overall Passing, dtype: float64

In [95]:
#Ok Im tired of being on the game show....so Ill let you say it this time...with your chest.   LETS MAKE A DATAAAFRAME!
type_summary_diction ={
    'Average Math Score' : average_math_score_by_type,
    'Average Reading Score' : average_reading_score_by_type,
    '% Passing Math' : average_percent_passing_math_by_type,
    '% Passing Reading' : average_percent_passing_reading_by_type,
    '% Overall Passing' : average_percent_overall_passing_by_type,
}

type_summary = pd.DataFrame(type_summary_diction)

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208